[2016-08-14 23:07] rmhrisk opened #1 "TSD is deprecated switch to Typings"
npm WARN deprecated tsd@0.6.5: TSD is deprecated in favor of Typings (https://github.com/typings/typings) - see https://github.com/DefinitelyTyped/tsd/issues/269 for more information

[2016-08-27 05:07] rmhrisk opened #2 "Add coveralls"
https://coveralls.io

[2016-08-27 05:16] rmhrisk opened #3 "JSDOC: Add documentation generation to package.info"
We can add generation of JSDOC derived documentation via docdash: https://github.com/clenemt/docdash

"script": {
"generate-docs": "node_modules/.bin/jsdoc -c jsdoc.json"
}
This way we can have standalone documentation showing how to use the library.

[2016-08-27 05:16] rmhrisk commented on #1
@microshine is this resolved?

[2016-08-30 16:13] microshine opened #5 "Add flags for token"
[Token flags](https://github.com/PeculiarVentures/pkcs11js/blob/master/includes/pkcs11/pkcs11t.h#L165)

[2016-08-30 17:41] #5 closed

[2016-09-14 22:16] tiagopadua opened #7 "ECDSA error when calling update"
Hello,

I Believe I found a bug in the _C_SignUpdate_ and _C_VerifyUpdate_ for the ECDSA mechanism.
And I thought I should report it here to be registered.

I'm trying to sign/verify messages, but get an exception "CKR_OPERATION_NOT_INITIALIZED".

Here's some code where it happens:
[code]
The same happens with _C_VerifyUpdate_.

I thought I was doing something wrong, but this following code, using

[2016-09-14 22:42] rmhrisk commented on #7
What PKCS11 library are you using?

[2016-09-15 16:21] tiagopadua commented on #7
I'm using:
- **SoftHSM 2** compiled yesterday from https://github.com/opendnssec/SoftHSMv2
- **pkcs11js** version 1.0.3, installed with `npm install pkcs11js`

Running in Xubuntu
[code]

Here's the whole code file I'm testing.
Just ignore all the logs.
[code]

[2016-09-15 16:32] rmhrisk commented on #7
@microshine please take a look at this issue

[2016-09-15 16:54] microshine commented on #7
OK. I'll do it soon

[2016-09-24 11:09] microshine commented on #7
Answer from SoftHSM2

[code]

[2016-10-19 12:08] #7 closed

[2016-12-19 16:02] luiszunigacr opened #9 "RSA encryption/decryption support"
I'd like to verify that this module supports RSA encryption with public key.
There is an example in the README.md for signing/verifying, but how could I encrypt/decrypt with some RSA mechanism?

[2016-12-19 17:49] rmhrisk commented on #9
pkcs11js is just pkcs#11 binding for node, you can look at any PKCS#11 example for encryption and map it to pkcs11js.

I suspect you would be better off by using graphene though which provides a higher level API. Check out the graphene-cli for an example of using it for encryption.

[2016-12-19 17:49] #9 closed

[2017-02-19 18:44] rmhrisk commented on #2
Fixed

[2017-02-19 18:44] #2 closed

[2017-02-26 22:21] microshine opened #10 "Support CKA_NAME_HASH_ALGORITHM"
2.30 specification has
- `CKA_NAME_HASH_ALGORITHM`
- `CKA_COPYABLE`

[2017-02-26 22:22] microshine opened #11 "Update cases for C_GetAttributeValue"
For each (type, pValue, ulValueLen) triple in the template, C_GetAttributeValue performs the following algorithm:
- If the specified attribute (i.e., the attribute specified by the type field) for the object cannot be revealed because the object is sensitive or unextractable, then the ulValueLen field in that triple is modified to hold the value -1 (i.e., when it is cast to a CK_LONG, it holds -1)

[2017-03-15 13:12] microshine commented on #1
Using npm @types

[2017-03-15 13:12] #1 closed

[2017-03-15 13:21] microshine opened #12 "Handling insertion/removing of token"
Pulling `C_GetSlotList`
http://stackoverflow.com/questions/943678/detect-pkcs11-token-to-be-inserted-removed-in-java

@rmhrisk: Is it ok?

[2017-07-16 16:33] TonyGregg opened #15 "Unable to run npm install"
npm ERR! Failed at the pkcs11js@1.0.9 install script 'npm run build'.
npm ERR! Make sure you have the latest version of node.js and npm installed.
npm ERR! If you do, this is most likely a problem with the pkcs11js package,

95 error argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install"
696 error node v6.9.1
697 error npm  v3.10.8
698

[2017-07-16 23:13] rmhrisk commented on #15
@TonyGregg @microshine is on holiday and may not respond for a week or so. I don't have a Windows box handy to debug on this end. My best guess is you need to use a more recent npm.

[2017-07-17 01:34] TonyGregg commented on #15
Thanks for responding.

I installed latest npm and I get the below errors now. Not sure what to do.
...

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli
'C:\\Users\\anton\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'build' ]
2 info using npm@5.3.0
3 info using node@v6.9.1
4 verbose run-

[2017-07-17 06:57] rmhrisk commented on #15
We will have to wait for @microshine

[2017-07-18 21:50] kcCoding commented on #15
Try installing openSSL as described at: https://github.com/brave/browser-laptop/wiki/(setup)-Windows-build-guide#openssl
that worked for me

[2017-07-29 04:24] rmhrisk commented on #15
@TonyGregg, did that work for you?

[2017-07-29 04:49] microshine commented on #15
@TonyGregg I tried to install `pkcs11js` on my Windows machine. It works for me.
`pkcs11js` doens't use OpenSSL.

Could you try to build `pkcs11js` manually?

[code]

[2017-07-29 12:52] TonyGregg commented on #15
Hello @microshine

Thanks for responding. I tried pcks11js manually with the commands you gave, but it failed. Following is the error

C:\Users\anton\go\src\pkcs11js>if not defined npm_config_node_gyp (node "C:\Users\anton\AppData\Roaming\npm\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" configure build )  else (node "" configure build )
Building the projects in t

[2017-07-29 12:53] TonyGregg commented on #15
I am using windows 10. Not sure if I am missing some .NET framework.

[2017-07-29 12:55] microshine commented on #15
What version of Visual Studio do you use?

[2017-07-29 14:15] TonyGregg commented on #15
I do not have Microsoft Visual Studio. I have Microsoft Visual C++ 2015 Redistributable (x86) - 14.0.24215. Do I need to install Visual Studio?

[2017-07-29 14:25] TonyGregg commented on #15
I have installed .NET framework SDK 4.7, still the error is same.

[2017-07-29 14:37] TonyGregg commented on #15
I have also installed Visual Studio Professional 2017 and tried, ended with same error.

MSBUILD : error MSB3428: Could not load the Visual C++ component "VCBuild.exe". To fix this, 1) install the .NET Framew
ork 2.0 SDK, 2) install Microsoft Visual Studio 2005 or 3) add the location of the component to the system path if it i
s installed elsewhere.  [C:\Users\anton\go\src\pkcs11js\build\binding.s

[2017-07-29 14:39] microshine commented on #15
Could you try to open `C:\Users\anton\go\src\pkcs11js\build\binding.sln` and build it from VS?

[2017-07-29 14:55] TonyGregg commented on #15
It worked. Thank you very much @microshine !!

[2017-08-16 05:42] BYuenPwC opened #16 "Cannot do npm install on Mac"
Hi, having trouble doing npm install.

Please can you help? Thanks!

0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'run', 'build' ]
2 info using npm@5.3.0
3 info using node@v8.4.0
4 verbose run-script [ 'prebuild', 'build', 'postbuild' ]
5 info lifecycle pkcs11js@1.0.9~prebuild: pkcs11js@1.0.9
6 info lifecycle pkcs11js@1.0.9~build: pkcs11js@1.0.9

[2017-08-16 15:43] rmhrisk commented on #16
@BYuenPwC works for me, just tried.

Must be environmental.

[code]

@microshine any ideas what it may be?

[2017-08-17 01:32] BYuenPwC commented on #16
@rmhrisk , Thanks for your response.

What version of node / npm  were you using?

[2017-08-17 07:51] microshine commented on #16
@BYuenPwC I updated my NodeJS version to 8.4.0 and npm to 5.3.0. And module installation is ok for macOS Sierra 10.12.6

Could you try to build pkcs11js manually

[code]
after dependency installetion
[code]

This must help to show more details for module building error

[2017-08-18 03:54] BYuenPwC commented on #16
Hi,

I have managed to install it with just npm again. very strange. Thanks for your responses.

[2017-08-18 03:54] #16 closed

[2017-09-15 19:06] recurrence commented on #16
Update NPM to 5.4.2

[2017-09-27 07:54] zamrokk commented on #15
Hi all,
I have exactly the same error on my Mac.
I did the previous commands to build it separately and still same problem

[code]

node -v
v8.4.0

npm -v
5.4.1

[code]

[2017-09-27 07:59] microshine commented on #15
@zamrokk Could you send log for next command?
[code]

[2017-09-27 08:03] zamrokk commented on #15
build error
gyp ERR! stack Error: `make` failed with exit code: 69
gyp ERR! stack     at ChildProcess.onExit (/usr/local/lib/node_modules/node-gyp/lib/build.js:258:23)
gyp ERR! stack     at emitTwo (events.js:125:13)
gyp ERR! stack     at ChildProcess.emit (events.js:213:7)
gyp ERR! stack     at Process.ChildProcess._handle.onexit (internal/child_process.js:200:12)
gyp ERR! System Darwin 16.7.0
gy

[2017-09-27 08:35] microshine commented on #15
@zamrokk  I cannot reproduce this error on my Mac.
Could you try to build it from Xcode?

[code]

[2017-09-27 08:47] zamrokk commented on #15
build success

![image](https://user-images.githubusercontent.com/2536368/30904103-330dd140-a371-11e7-9345-39106ef82c34.png)

[2017-09-27 08:48] zamrokk commented on #15
node-gyp configure build     is ok now

![image](https://user-images.githubusercontent.com/2536368/30904151-627dea64-a371-11e7-843d-848d011fca68.png)

[2017-09-27 08:49] zamrokk commented on #15
npm i   is passing also

![image](https://user-images.githubusercontent.com/2536368/30904190-8d80e004-a371-11e7-98f5-2b98290cb9c1.png)

[2017-09-27 08:51] microshine commented on #15
@zamrokk Was there Xcode license agreement?

[2017-09-27 08:51] zamrokk commented on #15
when i opened Xcode it did a small update. Maybe it is linked to that ? :/

[2017-09-27 08:52] zamrokk commented on #15
now when i run  " npm i " on my initial project that uses pkcs11 as a dependency , it is ok

![image](https://user-images.githubusercontent.com/2536368/30904333-ffff601a-a371-11e7-9b3b-8d581cb07597.png)

[2017-09-27 08:53] #15 closed

[2017-09-27 08:54] zamrokk commented on #15
thanks @microshine    ;o)

[2017-09-27 08:55] microshine commented on #15
thanks @zamrokk too :)

[2017-10-06 10:54] christopherhex opened #17 "Using `pkcs11js` and native `crypto` within one runtime causes errors"
Hi,

We are using the `pkcs11js` library, version `1.0.9` in combination with SoftHSMv2.

Everything worked fine until recently we added a module that relies on the native `crypto` module for signing purposes. Once the `pkcs11js` lib is loaded the signing fails, complaining about a shared library that could not be loaded. In the demo snippet below, sign try 1 works and sign try 2 fails.

Any hints

[2017-10-09 14:50] LacikIgor commented on #15
use python 2.7. if u have a python 3.x (the error logs are long enough for u to first google to this link and only than actually check logs)

[2017-10-09 15:22] rmhrisk commented on #15
@lackigor without more information we can not help you. Sounds like your issue is independent of the one discussed in this bug. Please file a new bug.

[2017-10-09 15:23] LacikIgor commented on #15
@rmhrisk Actually I do not have any issue (just wanted to help future visitors)

[2017-10-11 20:38] microshine commented on #17
@christopherhex I ran your code. It works for me without any errors.

[code]

MacOS Sierra 10.12.6
node v6.11.2

It looks problems is not in `pkcs11js` module. It allows to use SoftHSM lib until crypto operation.
SoftHSM uses OpenSSL crypto implementation and nodejs crypto uses it too. I think this is a reason of libraries conflict

Error log is from nodejs crypto module (pkcs11js doesn't have JS

[2017-10-12 00:37] rmhrisk commented on #17
Yes, sounds like maybe two different versions of OpenSSL are involved?

[2017-10-16 19:49] shuchivt opened #19 "Unable to run - npm install pkcs11js"
gyp ERR! build error
gyp ERR! stack Error: `C:\Windows\Microsoft.NET\Framework\v4.0.30319\msbuild.exe` failed with exit code: 1
gyp ERR! stack     at ChildProcess.onExit (C:\Users\shutripathy\AppData\Roaming\npm\node_modules\npm\node_modules\node-gyp\lib\build.js:258:23)
gyp ERR! stack     at emitTwo (events.js:125:13)
gyp ERR! stack     at ChildProcess.emit (events.js:213:7)
gyp ERR! stack     at

[2017-10-16 19:52] microshine commented on #19
Could you try steps from this [issue](https://github.com/PeculiarVentures/pkcs11js/issues/15)?

[2017-10-16 20:23] shuchivt commented on #19
Thank you this worked. how to integrate the nodejs program to read keys from aws cloudhsm

[2017-10-16 20:25] shuchivt commented on #19
how should the following statement change if softhsm is installed on windows 10
pkcs11.load("/usr/local/lib/softhsm/libsofthsm2.so");

[2017-10-16 20:31] rmhrisk commented on #19
I think you need token label also, @microshine

[2017-10-16 20:49] shuchivt commented on #19
Thanks. kindly provide some more details

[2017-10-16 20:52] microshine commented on #19
You can use [index.d.ts](https://github.com/PeculiarVentures/pkcs11js/blob/master/index.d.ts)  for API understanding

#### Example load()
[load](https://github.com/PeculiarVentures/pkcs11js/blob/master/index.d.ts#L147)

[2017-10-19 13:18] anlopes123 opened #20 "Error: Win32 error 126 at Error (native) PKCS11::Load:129"
when running the tests this error occurred which can be
D:\ProjetoJs\Desktop\pocDesktop\Certificado\graphene\graphene>npm run test

  AES
    1) "before all" hook
    2) "after all" hook

  Digest
    3) "before all" hook
    4) "after all" hook

  ECDSA
    5) "before all" hook
    6) "after all" hook

  Module
    7) load
    8) initialize/finalize
    9) getSlots
    10) props

  Object
    11)

[2017-10-19 13:26] microshine commented on #20
`pkcs11js` uses uses `libsofthsm2` library for tests

If you want to run tests on Windows you have to change [path to library](https://github.com/PeculiarVentures/pkcs11js/blob/master/test/test.js#L8).

[2017-11-02 20:07] hwegge2 opened #21 "Failed at the pkcs11js@1.0.10 install Script"
It Appears every time I am trying to build a project with pkcs11js as a dependency, it fails upon tying to execute the install scripts.

[2017-11-02 20:30] microshine commented on #21
@hwegge2 Could you share installation log?

[2017-11-05 17:36] hwegge2 commented on #21
It appears that it was an issue with permissions at the OS level.
This was resolved with the following command on Ubuntu 16.04

`sudo npm install -g PACKAGE-NAME --unsafe-perm=true --allow-root`

[2017-11-07 08:54] kahwooi opened #22 "Can this library support EFTPOS HSM?"
Can this library support SafeNet Payment HSM?
I need to use DUKPT and PIN module.

[2017-11-07 09:02] microshine commented on #22
If SafeNet Payment HSM has PKCS#11 library it must work with pkcs11js

[code]

[2017-11-27 18:41] microshine opened #23 "Add C_Login flags"
CKU_SO, CKU_USER, CKU_CONTEXT_SPECIFIC

[2017-11-30 21:06] microshine commented on #22
@kahwooi Have you applied pkcs11js to your HSM?

[2017-11-30 21:07] #21 closed

[2017-11-30 21:08] #20 closed

[2017-11-30 21:08] #19 closed

[2017-11-30 21:11] microshine commented on #17
@christopherhex Have you resolved library conflict?

[2017-12-01 06:22] #10 closed

[2017-12-01 10:57] #23 closed

[2017-12-05 09:58] microshine opened #25 "Optimize data copy"
Current implementation has bytes -> string -> Buffer

https://github.com/PeculiarVentures/pkcs11js/blob/master/src/pkcs11/pkcs11.cpp#L575

[2017-12-12 08:19] christopherhex commented on #17
Hi @microshine,

Sorry for the late reply. Still have to investigate further as we managed to work around the issue.
Hopefully I can find some time to further investigate this next week.

The problem seems to be something else then the pkcs11js lib so will close issue for now 😊

Thanks for the feedback !

[2017-12-12 08:19] #17 closed

[2018-01-10 07:01] krishnarajreal commented on #19
Navigate to node_module  and type the command below
"git clone https://github.com/PeculiarVentures/pkcs11js.git --depth 1"
and go to node_modules/pkcs11js and delete git folder
Now run "npm install"

[2018-03-23 18:54] mckenm opened #28 "How pkcs11js handle Vendor specific attributes?"
Hello,  I have a project that using attributes that are vendor attributes that start 0x40000000.  I wonder how will it translate or convert values from JS layer to API.  Like number to number/ string of number to number.  Is there a way I can specific or understand how it works?

[2018-03-24 08:49] microshine commented on #28
You can use TypeScript Declaration file [index.d.ts](https://github.com/PeculiarVentures/pkcs11js/blob/master/index.d.ts) for best JS API understanding.

Attribute type is number
[code]

You can use your own vendor values

[code]

[2018-04-03 06:17] ayerbatu opened #29 "Any support for cloudbased HSMs like AWS or Azure ?"

[2018-04-03 07:58] microshine commented on #29
I didn't try cloudbased HSMs. But if they implements standard PKCS#11 interface they must work well. If cloudbased HSMs need custom args `CK_INITIALIZE_ARGS` (like NSS needs) or something else I can support it

[2018-05-12 09:08] ogeday26 opened #30 "CKR_GENERAL_ERROR:5"
I am developing in windows environment. I am getting such an error.

[code]

[2018-05-12 09:59] ogeday26 commented on #30
I was testing example 1. I just introduced softhsm2.dll.

[code]

[2018-05-12 10:07] microshine commented on #30
[C_Initialize](https://github.com/opendnssec/SoftHSMv2/blob/d7be6f95df8620ad42350c8c0fa0ea5786d04a47/src/lib/SoftHSM.cpp#L369) source code for SoftHSMv2. It has many checks for `CKR_GENERAL_ERROR`

Can you check SoftHSMv2 logs for error details?
https://github.com/opendnssec/SoftHSMv2#log-information

[2018-05-14 07:53] singhmanpreet294 commented on #22
@kahwooi  SafeNet Payment HSM already support DUKPUT through its dedicated APIs(Not PKCS APIs). You can call these API over a TCP/IP socket and perform required tasks as per your requirement.

[2018-05-14 14:12] #22 closed

[2018-05-18 21:02] #30 closed

[2018-05-22 06:07] gantleman opened #31 "centos error"
[root@localhost nodeTest]# npm install pkcs11js
npm WARN package.json nodeTest@1.0.0 No repository field.
npm WARN package.json nodeTest@1.0.0 No README data
\

make: Entering directory `/root/nodeTest/node_modules/pkcs11js/build'
  CXX(target) Release/obj.target/pkcs11/src/main.o
In file included from ../src/pkcs11/error.h:6:0,
                 from ../src/pkcs11/v8_convert.h:13,

[2018-06-18 15:29] ang-st opened #32 "Passing CK_ATTRIBUTE_PTR to vendor specific mechanism"
Hi,
First i would like to  thanks you for develloping such project.

I would like to use a vendor derivation mechanism that expect such structure:
[code]
to be passed as ` deriveMech.pParameter = &vendor_Params; `
i try to get inspiration from [param_ecdh](https://github.com/PeculiarVentures/pkcs11js/blob/5a4cc973f6ad0fa632d4420d39ae5be7ba849a49/src/pkcs11/param_ecdh.cpp#L3)
Yet, i'm not expert in

[2018-06-18 18:09] microshine commented on #32
Hi

I think can use [ref-struct](https://github.com/TooTallNate/ref-struct) module. It allows to create Buffer from JS structure.

[2018-06-20 09:38] microshine commented on #32
@ang-st I created [example](https://gist.github.com/microshine/287db1e4ff17c9dbda43ec0ff678233a) for custom structure using.

I used Rutoken PKCS#11 with GOST mechanism. `pkcs11js` doesn't implement GOST parameters, so I used `ref`, `ref-array` and `ref-struct` modules to implement it.

### PKCS#11 C structure
[code]

### PKCS#11 JS structure
[code]

### PKCS#11 JS structure using
[code]

### Exam

[2018-06-20 14:40] #32 closed

[2018-07-02 11:42] mhamzawey commented on #21
Is this issue solved.  I still get the same error and i've tried everything posted but no luck.

[2018-07-02 11:50] microshine commented on #21
@mhamzawey can you share npm log with error?

[2018-07-16 07:32] t-j-h opened #33 "version reference issue"
"This was developed to the PKCS#11 2.3 specification, the 2.4 headers were not availible at the time we created this, it should be easy enough to extend it for the new version at a later date."

This needs to be corrected - there is no such version as 2.3 or 2.4 - there is 2.30 and 2.40
The official current version is 2.40
The OASIS PKCS#11 technical committee are working on 3.0

[2018-07-16 13:50] rmhrisk commented on #33
@t-j-h I have updated the readme to go to two decimal places instead of one. You can see that change here: https://github.com/PeculiarVentures/pkcs11js/commit/f6f46336994f3b7cc04a9714717bc9ba32ee0c4f

When we created this library there was no finalized 2.40 version, and we can not support a new version without headers and implementations to test to.

If you have headers for 2.40 and can point us a

[2018-08-06 10:28] caveman7 opened #34 "Cannot generate 32 bytes AES Secret"
I wanted to generate a 32 bytes AES Secret Key with the code below. However, when I printed the length of the key, it is showing 8 instead of 32.

[code]

The reason is I want to encrypt data using the function below which requires a key length of 32.

[code]

The above code will generate ```Invalid key length``` error

[2018-08-06 23:41] caveman7 commented on #34
@microshine thank you for the insight. I'm very new to this so I am often confused. I am able to extract the secret key by using getting the CKA_VALUE attribute but I need to set the following during key generation: ```{ pkcs11js.CKA_EXTRACTABLE, value: true }```. I understand that this of course defeats the purpose of HSM which is not to expose the secret.

[2018-08-06 23:41] #34 closed

[2018-11-08 03:53] rafal-ics opened #35 "Templete Incomplete when when creating data object"
I trying example in the read me to Create Object with Yubikey 4.

I get Error: CKR_TEMPLATE_INCOMPLETE:208

when calling:

var nObject = pkcs11.C_CreateObject(session, [
        { type: pkcs11js.CKA_CLASS, value: pkcs11js.CKO_DATA },
        { type: pkcs11js.CKA_TOKEN, value: false },
        { type: pkcs11js.CKA_PRIVATE, value: false },
        { type: pkcs11js.CKA_LABEL, value: "My Label" },

[2018-11-08 06:08] rmhrisk commented on #35
You will have to turn on logging in the PKCS11 library and see if it tells you why it wants more data in the template

Each library has its own requirements that are normally not documented.

[2018-11-08 07:58] microshine commented on #35
Yubico PKCS11 library doesn't support `CKO_DATA` for `C_CreateObject` function

https://github.com/Yubico/yubico-piv-tool/blob/master/ykcs11/ykcs11.c#L975-L992

[2018-11-14 21:15] jahluwalia opened #36 "AES_KEY_WRAP reporting CKR_MECHANISM_INVALID"
I'm using graphene to try to wrap an AES key stored in SoftHSM2. Here is the code:

[code]

I get the following error:
`CKR_MECHANISM_INVALID:112\n    at Error (native) C_WrapKey:949`

I noticed the values for AES_KEY_WRAP are different in pkcs11js and SoftHSM2 as follows:

Pkcs11js:
`#define CKM_AES_KEY_WRAP               0x00001090`

SoftHSM2:
`#define CKM_AES_KEY_WRAP (0x2109UL)`

Is there a wo

[2018-11-15 18:53] jahluwalia commented on #36
Thank you for that.

When i set the mechanism as follows, it works:

`Mechanism = 'SOFTHSM_AES_KEY_WRAP';  // this one works`

However, if i try to pass an IV, as follows:

`Mechanism = { name: 'SOFTHSM_AES_KEY_WRAP', params: new Buffer([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]) }; `

I get the following error:

`"CKR_ARGUMENTS_BAD:7    at Error (native) C_WrapKey:949"`

Any thoughts

[2018-11-15 21:47] rmhrisk commented on #36
That is the underlying implementation saying it doesnt like one or more of the arguments being passed.

Since softhsm is OSS you can look at its implementation to see why it throws this error.

[2018-11-20 04:55] minhnhatspk opened #37 "Load method affects on the app performance."
As you guys can see on my issue title when I use the `load` method to load the library, It affects my app performance (Renderer process).
I'm using this module in my electron project. Let me show my problem details.
I have a screen to the user can insert their PIN.
After pressing the submit button, it redirects to the loading screen. In this screen, I have a loading animation. At the time the app

[2018-11-20 07:20] rmhrisk commented on #37
The library you are calling via PKCS11js is blocking.

I do not know the architecture of your code but you need to move the PKCS11 call to someplace out of render path.

[2018-11-21 22:29] microshine opened #38 "Many warnings on pkcs11js compilation for NodeJs v10"
We should change NAN to N-API

https://nodejs.org/dist/latest-v10.x/docs/api/n-api.html

[2018-12-27 16:42] #37 closed

[2018-12-27 16:42] rmhrisk commented on #37
Out of curiosity what kind of application have you made?

[2018-12-28 06:53] kztao opened #39 "load error"
WARNING in ./node_modules/node-gyp-build/index.js 20:15-54
Critical dependency: the request of a dependency is an expression
 @ ./node_modules/utf-8-validate/index.js
 @ ./node_modules/ws/lib/Validation.js
 @ ./node_modules/ws/lib/Receiver.js
 @ ./node_modules/ws/index.js
 @ ./app/platform/electron/socket.js
 @ ./app/platform/electron/index.js
 @ ./app/core/ui.js
 @ ./app/index.js
 @ multi webpack

[2018-12-28 07:08] rmhrisk commented on #39
Can you tell us about your environment and how you did the build?

[2018-12-28 07:18] microshine commented on #39
Looks like you are using webpack for server running. Have you excluded `pkcs11js` from bundle, cause `pkcs11js` is native module?

[2018-12-28 08:53] kztao commented on #39
D:\nodejs\SecMsgClient>npm config ls
; cli configs
metrics-registry = "https://registry.npmjs.org/"
scope = ""
user-agent = "npm/6.5.0 node/v10.15.0 win32 x64"

; globalconfig C:\Users\Administrator\AppData\Roaming\npm\etc\npmrc
python = "C:\\Users\\Administrator\\.windows-build-tools\\python27\\python.exe"

; builtin config undefined
prefix = "C:\\Users\\Administrator\\AppData\\Roaming\\npm"

; n

[2018-12-28 08:57] kztao commented on #39
is this?
  module: {
        rules: [{
            test: /\.jsx?$/,
            loader: 'babel-loader',
            exclude: /node_modules/
        }],
        //noParse: [/BufferUtil/, /Validation/]
    },

[2018-12-28 09:03] rmhrisk commented on #39
https://stackoverflow.com/questions/33001237/webpack-not-excluding-node-modules

[2018-12-28 09:19] microshine commented on #39
Try
[code]

[2019-04-16 08:16] LumaRay opened #40 "Type inconsistent error when trying to initialize GOST signing"
I get a private key handle from Rutoken 2.0 ECP using your example:

[code]
I check that keys1.privateKey has a non null value, then try to initialize signing algorithm:
[code]

But this returns an error:

[code]

[2019-04-16 09:16] LumaRay commented on #40
Оказывается, Рутокен не поддерживает функции Update: https://dev.rutoken.ru/pages/viewpage.action?pageId=3178534

[2019-04-16 09:27] LumaRay commented on #40
Finally worked this way:

[code]

[2019-04-16 09:38] microshine commented on #40
Looks like `CKM_GOSTR3410` is a simple mechanism which is used for digest signing like CKM_RSA_PKCS. This is why it doesn't support `Update` functions.

[2019-04-16 09:45] LumaRay commented on #40
Well, according to a comparison table from Rutoken documentation https://dev.rutoken.ru/pages/viewpage.action?pageId=3178538
rtPKCS11ECP + Рутокен ЭЦП (which I use) supports CKM_GOSTR3410_WITH_GOSTR3411 (for C_Sign) and extended CKM_GOSTR3410_WITH_GOSTR3411_12_256.

Moreover, it supports non-GOST cryptography: CKM_RSA_PKCS.

But still C_SignUpdate is not supported for any mechanism according to ht

[2019-04-16 10:39] LumaRay opened #41 "How to add a function"
Hello. I want to add an extended rutoken C_EX_PKCS7Sign function into your library https://dev.rutoken.ru/pages/viewpage.action?pageId=3178555#id-%D0%9E%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%B8%D0%B5%D1%84%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D0%B9%D1%80%D0%B0%D1%81%D1%88%D0%B8%D1%80%D0%B5%D0%BD%D0%B8%D1%8F-C_EX_PKCS7Sign()

How can I do this?

[2019-04-16 10:53] microshine commented on #41
This is Rutoken specific function. It would be better to make fork `pkcs11-rutoken`

Steps to add custom PKCS#11 function

- Update PKCS11 headers by adding Rutoken Ex functions ([pkcs11f.h](https://github.com/PeculiarVentures/pkcs11js/blob/master/includes/pkcs11/pkcs11f.h))
- And types if needed ([pkcs11t.h](https://github.com/PeculiarVentures/pkcs11js/blob/master/includes/pkcs11/pkcs11t.h))
- Ad

[2019-04-16 10:57] LumaRay commented on #41
Thanks, and after I alter those files, I need to recompile them? How?

[2019-04-16 11:00] microshine commented on #41
[code]

https://github.com/nodejs/node-gyp

If you are using Windows `node-gyp configure` must create VisualStudio Solution file and you can build/debug library from it

[2019-04-16 11:05] LumaRay commented on #41
Thanks. I think changes are also needed in:
- node.h
- index.d.ts

[2019-04-24 23:11] muz3 opened #42 "pkijs vs pkcs11js use cases"
Sorry, this question may not be posted in the correct channel. but I am trying to figure out when to use which library. It feels like to me pkcs11js is a subset of the pkijs. If I just want to work with softhsm, then pkcs11js is enough for me. thanks,

[2019-04-25 00:59] rmhrisk commented on #42
@muz3 PKI.js provides support for all the various PKI related data structures such as X.509 certificates, CMS, etc.

pkcs11js is a binding for JS/TS applications to the PKCS#11 standard which was defined to enable a consistent API for callers to use smart cards and hardware security modules.

They are complementary and do very different things. Most applications that use pkcs11js also use PKI.js b

[2019-04-25 01:01] rmhrisk commented on #42
I quickly looked at your cloned repositories, if your looking to interact with a hardware wallet for a cryptocurrency that exposes a PKCS#11 interface via its middleware you want pkcs11js.

If your implementing, for example, BIP 0070 you want PKIjs.

[2019-04-25 03:07] muz3 commented on #42
These are really helpful info. Thank you Ryan, and much appreciated.

[2019-04-25 03:07] #42 closed

[2019-05-17 07:43] huxd-ibm opened #43 "CK_ULONG type attribute value in template can't be passed correctly on s390x"
when invoking function that requires template, for example C_GenerateKeyPair, if we want to pass in some CK_ULONG type attribute in the template, for example CKA_KEY_TYPE, the value could not be passed correctly on s390x.

if we look at function `v2c_ATTRIBUTE` in file src/pkcs11/template.cpp, when `v8Value->IsNumber()` is true, if we try to print both value of "num" and value of  `*(CK_ULONG*)att

[2019-05-18 22:07] ruslan-gennadievich opened #45 "How get publicKeyId fom token?"
[code]
This not working
how i can get public key and pubKeyId from token ?
I have only private key on token

[2019-05-19 05:06] rmhrisk commented on #45
This looks right to me, do you know the public key is on the token?

[2019-05-19 14:56] ruslan-gennadievich commented on #45
No, i have only private key on token.
So, then make PublicKey from PrivateKey
How i can do this by pkcs11js ?

Thanks for help.

[2019-05-19 16:42] rmhrisk commented on #45
Your above code is reading at attribute on a key and would only work if that attribute set on the key in advance.

It is possible to derive the public key from a private key with some algorithms, for example with RSA:

An RSA public key consists of two values:

- the modulus n (a product of two secretly chosen large primes p and q),
- the public exponent e (which can be the same for many keys and

[2019-05-19 18:05] ruslan-gennadievich commented on #45
Im using ECDSA

You can also store the public key as it’s own object, CKO_PUBLIC_KEY, does your token have this object on it?
I have no public key object on token. I need get public key identifier for public key that consistent with the specified private key. According to http://docs.oasis-open.org/pkcs11/pkcs11-base/v2.40/os/pkcs11-base-v2.40-os.html i can request CKA_PUBLIC_KEY_INFO (0x129) attr

[2019-05-19 19:08] rmhrisk commented on #45
`CKA_PUBLIC_KEY_INFO` will only be there if it was put there at generation or if the PKCS#11 implementation derives it and sets it. If it is not there this library can not return it.

[2019-05-19 19:23] ruslan-gennadievich commented on #45
Yes, you are right. Thank your for help
I use SoftHSM, and as i see in https://github.com/opendnssec/SoftHSMv2/blob/f82d4eda55401a4d23e647d85a00a8b0c8ccf712/src/lib/P11Objects.cpp

So, SoftHSM not auto calculate CKA_PUBLIC_KEY_INFO.

[2019-05-19 21:49] rmhrisk commented on #45
This is common

[2019-05-27 14:25] microshine opened #47 "Disable Signing test for Linux OS"
https://travis-ci.org/PeculiarVentures/pkcs11js/builds/537766758

I can't find a reason for this Segmentation fault

[2019-05-27 19:54] microshine commented on #43
I've published a new version `+ pkcs11js@1.0.18`. Can you try it?

[2019-05-28 02:29] huxiangdong commented on #43
@microshine verified `pkcs11js@1.0.18`, it works! Thanks very much!

[2019-05-28 02:30] huxd-ibm commented on #43
@microshine verified `pkcs11js@1.0.18` and it works! Thanks very much!

[2019-05-28 02:31] #43 closed

[2019-05-30 16:13] kurenai-ryu opened #48 "Segmentation Fault"
pkcs11js version: "1.0.17",

I have been testing node-webcrypto-p11 and graphene with a feitian epass2003 token on ubuntu18, and everything seems to work, I can login(auth) and sign some data..

now I'm trying to make it work on a raspberry (4.14.98-v7+ ARM7l debian/raspbian), most tools, works ok (I can login and list the private cert with  `pkcs11-tool --module /usr/lib/arm-linux-gnueabihf/opens

[2019-05-30 16:44] microshine commented on #48
Can you try the latest version of the pkcs11js@1.0.18? This version uses the latest version of the `nan` and it can fix the error

[2019-05-30 17:00] microshine commented on #48
You can update C++ code to gathering segmentation fault stack trace

- Update main.cpp
- Rebuild pkcs11js
[code]
or
[code]

### main.cpp
[code]

[2019-05-30 19:06] kurenai-ryu commented on #48
thanks for your response, sadly updating to 1.0.18 didn't help,
also after adding the signal handler, it gave an obscure error:
[code]

and now it hangs! I can't exit node! any idea?

[2019-05-30 20:45] microshine commented on #48
As I can see you are using Cryptoki v2.20
I'm checking it's API

[2019-05-30 20:52] microshine commented on #48
Can you add logs like `puts("Log message");` to [node.cpp:609-626](https://github.com/PeculiarVentures/pkcs11js/blob/d220b7cad4bc88ea9f9267173bb5fe76cdf9df53/src/node.cpp#L609-L626) and [pkcs11.cpp:365-376](https://github.com/PeculiarVentures/pkcs11js/blob/d220b7cad4bc88ea9f9267173bb5fe76cdf9df53/src/pkcs11/pkcs11.cpp#L365-L376) files?

[2019-06-04 23:54] kurenai-ryu commented on #48
after some debug messages, if hangs on `C_Login`
[code]

where is this functionList and how can I further debug? (how can I update the Cryptoki or it's inherent of me device?)

[2019-06-05 18:52] microshine commented on #48
The `functionLsit` is `CK_FUNCTION_LIST` structure from PKCS#11.

`functionList->C_Login` - calls C_Login function from PKCS#11 library. You can print the incomming parameters to check that they are right

[2019-06-05 23:02] kurenai-ryu commented on #48
it seems hSession is the content of session buffer, usertype is 1 as in the example, pin length and pin c_str is the provided pin

[code]

[2019-06-06 09:09] indianscout opened #49 "Async C_OpenSession/C_CloseSession, C_Login/C_Logout, C_Sign"
According the docs this library is sync only. Is there a way to use it async?
This would be very usefull for the following calls:
* C_OpenSession/C_CloseSession
* C_Login/C_Logout
* C_SignInit
* C_Sign
* C_DestroyObject

[2019-06-06 09:19] rmhrisk commented on #49
No

[2019-06-07 13:37] kurenai-ryu commented on #48
something I noted is that the session buffer is 4 bytes in the raspberry and 8 bytes on a PC

[2019-07-09 07:34] fereydoun opened #50 "How to sign a string through Hardware token"
by methods: C_SignInit, C_SignUpdate , C_Sign or C_SignFinal

[2019-07-09 09:34] microshine commented on #50
Have you seen [node-webcrypto-p11](https://github.com/PeculiarVentures/node-webcrypto-p11/tree/master/src) module? It makes using PKCS#11 tokens easier

If you want to implement signing via `pkcs11js` module please show a code you are using and errors you have

You can take some examples from tests
  - [C_SignInit, C_Sign](https://github.com/PeculiarVentures/pkcs11js/blob/master/test/test.js#L277)

[2019-07-10 06:33] fereydoun commented on #50
in this sample code i don't want generate key.
I want use usb hardware token certificate instead of generate key.

var publicKeyTemplate = [
    { type: pkcs11js.CKA_CLASS, value: pkcs11js.CKO_PUBLIC_KEY },
    { type: pkcs11js.CKA_TOKEN, value: false },
    { type: pkcs11js.CKA_LABEL, value: "My RSA Public Key" },
    { type: pkcs11js.CKA_PUBLIC_EXPONENT, value: new Buffer([1, 0, 1]) },
    { typ

[2019-07-10 07:27] microshine commented on #50
You need to get your private key from the token. You can do it by using `C_FindObjectsInit`, `C_FindObjects`, `C_FindObjectsFinal` functions.

If you want to put your private key to the token you can do it by using `C_GenerateKeyPair` function with enabled `CKA_TOKEN` attribute.

See [PKCS#11 documentation](http://docs.oasis-open.org/pkcs11/pkcs11-base/v2.40/os/pkcs11-base-v2.40-os.html)

[2019-07-15 13:52] fatimazahra-hanounou opened #51 "PKCS11JS: Error CKR_KEY_FUNCTION_NOT_PERMITTED:104 on pkcs11.C_GenerateKeyPair"
Hi,

I'm using a certified usb device to sign documents.

This my code:

**************************************************************
var pkcs11js = require("./node_modules/pkcs11js");

var pkcs11 = new pkcs11js.PKCS11();
pkcs11.load("C:/Program Files/Gemalto/Classic Client/BIN/gclib.dll");

pkcs11.C_Initialize();

try {
    // Getting info about PKCS11 Module
    var module_info = pkcs11.C_GetI

[2019-07-15 15:44] rmhrisk commented on #51
It sounds like your token has been configured to be a read only token.

What kind of token is this?

[2019-07-15 16:15] fatimazahra-hanounou commented on #50
Hi  fereydoun,

Please i have the same issue, did you found any solution??

Thank's

[2019-07-15 16:20] microshine commented on #51
From PKCS#11 specification
`
CKR_KEY_FUNCTION_NOT_PERMITTED: An attempt has been made to use a key for a cryptographic purpose that the key’s attributes are not set to allow it to do.  For example, to use a key for performing encryption, that key MUST have its CKA_ENCRYPT attribute set to CK_TRUE (the fact that the key MUST have a CKA_ENCRYPT attribute implies that the key cannot be a private key)

[2019-07-16 09:42] fatimazahra-hanounou commented on #51
Thank you for your answer,

I'm using a Class 3 Device: certificate on cryptographic support evaluated.
It includes a certificate allowing electronique signature (with a public and a private keys).

My issue is to allow the device owner to sign a pdf file ( the program should get the certificate and join it in the pdf ).

I'm new in this technologie, i use this link to get informations:
(https://w

[2019-07-16 14:36] rmhrisk commented on #51
Being level 3 doesn’t matter here.

Some devices won’t let you generate new keys, that’s a way they can be configured.

Your token is saying it’s not able to generate the key for you.

Can you tell us about the token and its  middleware?

[2019-07-17 07:23] microshine commented on #51
You need to make the next steps

- Initialize a token (`C_Initialize`)
- Get slot list (`C_GetSlotList`)
- Open session for selected slot (`C_OpenSession`)
- Log in session, if required (`C_Login`)
- Find out a signing key (`C_FindObjectsInit`, `C_FindObjects`, `C_FindObjectsFinal`)
- Use the signing key to sign PDF document (`C_SignInit`, `C_Sign` or `C_SignInit`, `C_SignUpdate`, `C_SignFinal`)

[2019-07-17 09:14] fatimazahra-hanounou commented on #51
Hi rmhrisk ,

Thank you for reply,

The Toke info:
****************************
Object {label: "GemP15-1",
manufacturerID: "Gemalto S.A.",
model: "Classic V3",
serialNumber: "38C000AB63242A76",
flags: 1037, …}
*****************************

[2019-07-17 09:42] fatimazahra-hanounou commented on #51
Hi  microshine,

Thak  you,

I followed the same steps => now i don't have any error message, but i'm not sure if i'm in the correct way.
I used the SignUpdate methode to sign "text" as bellow:
    *pkcs11.C_SignUpdate(session, Buffer.from("Incomming message 1"));
    *pkcs11.C_SignUpdate(session, Buffer.from("Incomming message N"));

Now shall i give the pdf instead of text ?? and than generate a

[2019-07-21 09:07] fereydoun commented on #50
@fatimazahra-hanounou
I used graphene:
https://www.npmjs.com/package/graphene-pk11

var mod = Module.load("driver file path", "SoftHSM");
try {
        mod.initialize();
        var slot = mod.getSlots(0);
        if (slot.flags & graphene.SlotFlag.TOKEN_PRESENT) {
            var session = slot.open();
            session.login("token password");
            var sign = session.createSign("SHA256_

[2019-07-29 12:21] akhil2015 opened #52 "No ed25519 support?"
when will support for ed25519 be added? Is this a work in progress?

[2019-07-29 15:22] rmhrisk commented on #52
What version of PKCS11 has ed25519 defined? What devices support ed25519?

[2019-07-29 15:27] rmhrisk commented on #52
It looks like version 3.0 will support ed25519 when it is finished. It is unclear when that will be but it seems this year.

This means we can add support for it once we have a device / library that confirms to 3.0.

It seems someone has made an attempt to add support in SoftHSM. See https://gitlab.com/gnutls/gnutls/issues/417

We could use this for testing in such a project, we would want to gene

[2019-08-08 10:15] dpccrt87 opened #53 "How to read and generate X.509 certificate stored on usb token in js"
Hi Experts,
I am using Gemalto usb token for my Javascript application. I am accessing token's functionality through PKCS11 Javascript library.

I've been able to: Generate public and private key, encrypt/decrypt, sign/verify.

But the main problem is:
How can i read attributes of certificate stored inside the token using Javascript code?, so that I can move on to the next step, which will be the

[2019-08-08 22:39] rmhrisk commented on #53
Are you going to do this in the browser? If so I recommend using FortifyApp.com.

if not we you can look at its source as it does this.

Happy to provide more info, I just suspect Fortify is the right solution.

[2019-08-09 12:33] dpccrt87 commented on #53
Hi rmhrisk,
Thank you for reply.
Yes i will do it in the browser.

[2019-08-09 19:07] rmhrisk commented on #53
Take a look at Fortify, that’s what you want.

[2019-08-09 19:07] #53 closed

[2019-08-16 15:27] fatimazahra-hanounou commented on #51
Hi,

Could you help me, to know how can i generate X509 Certificate from my USB token?

I used the code bellow, but it return null value:

//*****************************************
    pkcs11.C_FindObjectsInit(session, [
        { type: pkcs11js.CKA_CLASS, value: pkcs11js.CKO_CERTIFICATE },
        { type: pkcs11js.CKA_TOKEN, value: true },
        { type: pkcs11js.CKA_CERTIFICATE_TYPE, value: p

[2019-10-14 13:42] feliciss opened #55 "PKCS11.C_Sign on Ubuntu failed with Segmentation fault (core dumped) for nodejs 8.16.0."
Source code:

[code]

The digest is 'Hello World!' with buffer.from parse.

Node version: 8.16.0.
Platform: Ubuntu.
Function call: pkcs11.C_Sign().
Error msg: Segmentation fault (core dumped).
Package version: pkcs11js@1.0.6.

I have tried the newest pkcs11js version and it didn't work anyway.

[2019-10-15 00:35] rmhrisk commented on #55
The core dump is likely in the PKCS#11 library, what library, what does its logs say happened before?

[2019-10-15 06:27] microshine commented on #55
We've got successful tests for `C_Sign` functions on [CircleCI](https://travis-ci.org/PeculiarVentures/pkcs11js/jobs/585442098#L1716)

### CircleCI System
[code]

[2019-10-16 05:54] 5sWind commented on #55
Sorry I forgot to mention that I am using Ubuntu 18.04...

[2019-10-16 05:54] 5sWind commented on #55
And the openssl version is 1.1.1 (the latest version).

[2019-10-16 06:31] microshine commented on #55
I can reproduce this exception locally. I'll fix this problem

[2019-10-16 08:51] microshine commented on #55
What PKCS#11 library do you use?

Looks like we had got a Segmentation fault before
https://github.com/PeculiarVentures/pkcs11js/issues/47

Here is an output of the segmentation fault stack trace
[code]

Maybe it's SoftHSM exception. But we need to double-check using another PKCS#11 library.

@5sWind Can you try NSS library with pkcs11js?

[2019-11-22 03:13] mqhe opened #56 "How to use C_Login as Admin"
now there are only two user types, how can I login as admin as in the original c package.

[2019-11-22 10:45] microshine commented on #56
![image](https://user-images.githubusercontent.com/7333669/69419661-f0a11780-0d2d-11ea-99c3-e989baf218f7.png)

[code]

User type is number you can use any number for it

[2019-12-04 14:51] spanmatej opened #57 "C_Login CKR_FUNCTION_NOT_SUPPORTED"
I am trying to sign a PDF signature using a Gemalto USB Key Smart Card. I am able to find the slot, open session and generally access it, but I am not able to Login with PIN.

Usually you have to enter the PIN during the signing process, for example you select the certificate from the list in Adobe Reader, then choose to sign with it, you are shown the window to enter the PIN.

C_Login & C_Logout

[2019-12-04 16:29] rmhrisk commented on #57
Within fortify can you send us the log of whe you use the fortify app to generate a CSR on this card?

[2019-12-04 17:37] spanmatej commented on #57
I suppose I didn't provide enough context as to how I am using pkcs11js exactly..

This code lives inside an Electron Angular app. I am not directly using Fortify, only it's .dll to provide the layer for communication with smart cards.

I haven't found much information online on how exactly you get to these libraries, so that's why I used Fortify's dll, as it's the most relevant in my use case.

I

[2019-12-04 18:10] rmhrisk commented on #57
The error you are having suggests there is something your smart card isn’t supporting related to login.

It is easier for us to troubleshoot this if you use Fortify, enable logging, perform the CSR generation, send us a log.

[2019-12-04 18:11] spanmatej commented on #57
Thank you for the suggestion. Will do that as soon as possible and report back to you.

[2019-12-04 18:38] spanmatej commented on #57
While starting Fortify, I am presented with the notice that the smart card is not supported and if I'd like to request support.

[code]

[Smart card ATR parsing 3B7D96000080318065B0830201F383009000](https://smartcard-atr.appspot.com/parse?ATR=3B7D96000080318065B0830201F383009000)

It is the same token as in the following issue: https://github.com/PeculiarVentures/fortify/issues/120

[2019-12-05 02:22] rmhrisk commented on #57
The card itself appears to be aGemalto IDClassic 340

Is that correct? Or is this some other card that’s been provisioned onto this card?

What PLCS11 library do you use with this card?

Where on your system do you find that PLCS11 library?

Does this card have a certificate on it already and read only (most National ID cards) or is it blank that you can arbitrary things to?

[2019-12-05 09:08] spanmatej commented on #57
I do not know the exact name at this time but I would presume so. It's over 3 years old and searching through the internet I can see that it probably is the IDClassic one.

I am not using a specific library myself. What I am using is the Nexus Personal client which allows me to enter the PIN while signing data.

The card does have a certificate on it and is regularly used to access certificate-res

[2019-12-05 14:12] microshine commented on #57
You can add your token to Fortify config file `~/.fortify/config.json`. Please don't forget to restart your Fortify application.

### Example
[code]

[2019-12-06 10:17] rmhrisk commented on #57
This suggests (https://doc.nexusgroup.com/display/PUB/Personal+Desktop+Client+overview) that the nexus client includes a mini driver and a PKCS#11.

As per @microshine's comment if you can specify which one to use in the fortify config file it should work. Once you confirm we can add it to the global config.

[2019-12-06 10:59] rmhrisk commented on #57
It seems maybe this smart card is related to Swedish BankID (www.bankid.com)?

According to [this](https://ec.europa.eu/idabc/servlets/Doc09e0.pdf?id=32291) `The software client includes both a CSP and a PKCS11 module that is, however, not used nor formally supported. `

I've asked a knowlegable friend for more information here : https://twitter.com/rmhrisk/status/1202905241177542656?s=20

[2019-12-06 11:05] spanmatej commented on #57
The smart card is issued by Halcom (http://www.halcom.si/en/) a Slovenian provider of digital certification software/products. I am not aware of any connection between them and the Swedish BankID.

As suggested, I found the library which Nexus Personal is using (personal64.dll) and am trying it out at the moment. I will shorty report if there is any more information available through it.

[2019-12-06 11:06] rmhrisk commented on #57
Actually I may have found it; according to [this](https://www.shouldiremoveit.com/bankid-tietoturvasovellus-59539-program.aspx) it is personal.dll.

If so I think the configuration you need to test would be:
[code]

[2019-12-06 11:09] rmhrisk commented on #57
Please try the above configuration and see if it works.

[2019-12-06 11:20] spanmatej commented on #57
I have tested the library with pkcs11js and I have **successfully logged in** with the correct PIN.

I am now presented with the error CKR_GENERAL_ERROR at crypto_final:637 on line:
`      const signature = pkcs11.C_SignFinal(session, new Buffer(256));`

[2019-12-06 12:06] rmhrisk commented on #57
We will need the fortify log associated with that transaction.

[2019-12-06 14:04] spanmatej commented on #57
Do you mean generating a CSR?

I don't know how I would do the signing process with Fortify or how it is connected with it in any way, as I am using pkcs11js inside an Angular Electron application.

Please advise on how to get some more information out of the error, as that is all I get:
`Error: CKR_GENERAL_ERROR:5 at Error (:4200/native) crypto_final:637`

Do you know of any tool I could use to c

[2019-12-06 14:06] microshine commented on #57
![image](https://user-images.githubusercontent.com/7333669/70328665-a13d0a00-184a-11ea-8282-53a324aa3576.png)
You can enable logging and get a detailed exception message

[2019-12-06 14:08] spanmatej commented on #57
I am aware of the process for enabling and checking the log and I have checked it after the signing process but nothing is logged inside it.

[2019-12-06 14:13] microshine commented on #57
Can you share a part of your source code where you are using `pkcs11js`

It's interesting to see which mechanisms you are using for signing

[2019-12-06 14:18] spanmatej commented on #57
Here is the updated code from my initial issue comment:
[code]

[2019-12-06 14:19] microshine commented on #57
try to increase buffer for a signature object to 1024

[2019-12-06 14:25] spanmatej commented on #57
Did so, no effect, the same error persists..

[2019-12-06 14:31] microshine commented on #57
this is strange

1. PKCS#11 libraries support own loggers. You can try to enable it and get additional information about that error

2. You can try to use another mechanism `CKM_RSA_PKCS1` (if your token supports it)
  2.1 Compute hash from data you want to sign
  2.2 Compute signature from hash value

[2019-12-06 15:56] microshine commented on #57
@spanmatej Please try `node-webcrypto-p11` module.

[code]

[2019-12-07 12:19] spanmatej commented on #57
@microshine I'm sorry for the late response.

Error still persists, even though now instead of pointing to **crypto_final**, it points to **crypto_update**.
[code]

[2019-12-07 12:35] rmhrisk commented on #57
Can you, as requested earlier, add support for your smart card to fortify with the above details, use fortify to create a CSR, and send the log.

This may tell us something new.

Alternatively maybe you can contact your middleware provider for examples of how to perform a working transaction with their middleware.

Each P11 unfortunately behaves a little different, some more than others. This is m

[2019-12-07 14:36] microshine commented on #57
@spanmatej What about `node-webcrypto-p11` application. Does it throw the same exception?

[2019-12-07 14:52] microshine commented on #57
I found some information about `personal64.dll` logging

https://blog.goranrakic.com/uploads/pkcs11_putanje.pdf
| Name | Windows 32bit | Windows 64bit |
|-------|----------------|----------------|
| Nexus Personal | `C:\Program Files (x86)\Personal\bin\personal.dll` | `C:\Program Files (x86)\Personal\bin64\personal64.dll` |

https://doc.nexusgroup.com/display/PUB/Personal+Desktop+Client+user%27s+g

[2019-12-07 14:56] spanmatej commented on #57
@microshine My previous comment is from using the node-webcrypto-p11 module. It also produces that error.

Thank you for finding that! I will try enabling the logging and get back to you with more info.

@rmhrisk I added the suggested data inside the config file, done the CSR generation and this is the log.
[code]

[2019-12-07 15:23] spanmatej commented on #57
@microshine The logging/diagnostics was actually already enabled and the log file was present.

As there is no functional difference between node-webcrypto-p11 and pkcs11js, except for it adding an additional layer, I'm going forward with **pkcs11js** at this moment, so all logging is relevant to that code.

I've checked the log and I can't find anything relevant myself, except for this message (l

[2019-12-07 15:26] microshine commented on #57
Have you tried to use another hash mechanism?

Try `SHA-1`

[2019-12-07 15:35] spanmatej commented on #57
@microshine Unfortunately, the same thing happens.
[pkcs11.log](https://github.com/PeculiarVentures/pkcs11js/files/3935208/pkcs11.log)

[2019-12-07 15:38] microshine commented on #57
@spanmatej Please try to get `CKA_ALWAYS_AUTHENTICATE` attribute from your private key

[2019-12-07 15:40] microshine commented on #57
[code]

[2019-12-07 16:26] spanmatej commented on #57
@microshine I am not sure how to get the CKA_ALWAYS_AUTHENTICATE attribute exactly. I got it once before but I switched between graphene, node-webcrypto, pkcs11js so many times that I forgot and I'm lost..

`pkcs11js.CKA_ALWAYS_AUTHENTICATE` returns value 514 which doesn't seem right as that is probably just it's assigned value.

I'd like to note that I messed up in my code at opening the session,

[2019-12-07 16:27] microshine commented on #57
I'll create a script. ~10 minutes

[2019-12-07 16:39] microshine commented on #57
[code]

[2019-12-07 16:46] spanmatej commented on #57
`CKR_ATTRIBUTE_TYPE_INVALID  PKCS11::C_GetAttributeValue:447`
at
`pkcs11.C_GetAttributeValue(session, keys.privateKey, [{ type: pkcs11js.CKA_ALWAYS_AUTHENTICATE }])[0].value;`

logged:
[code]

[2019-12-07 16:48] microshine commented on #57
Please comment this attr getting and call your app again. It must login to session with `CKU_CONTEXT_SPECIFIC` after `C_SignInit`

[2019-12-07 16:51] microshine commented on #57
I mean to call `pkcs11.C_Login(session, pkcs11js.CKU_CONTEXT_SPECIFIC, pin)` without `CKA_ALWAYS_AUTHENTICATE` getting

[2019-12-07 16:54] spanmatej commented on #57
Yes of course, done just that, commented out the attribute getting lines and left the login immediately **after** SignInit.
![image](https://user-images.githubusercontent.com/17194922/70377917-6efadd80-191a-11ea-9720-75194edef56a.png)

[code]
I previously got that error and figured the session must be opened as read-only..

[2019-12-07 16:56] microshine commented on #57
[code]

[2019-12-07 16:57] spanmatej commented on #57
Changing to that gives
[code]

[2019-12-07 17:01] microshine commented on #57
Can we move our chat to Skype? Please contact me via email microshine@mail.ru

[2019-12-07 19:24] spanmatej commented on #57
The issue has been resolved. I will update this comment shortly and describe the solution.

[2019-12-12 06:49] MasakiMinamide opened #58 "Is it possible to access pkcs11 interface from webapp?"
Hi.
I'm currently making a webapp with React, and I would like users to be able to use their smartcard to authenticate their id.

Using pkcs11-tool on command line worked perfect with my smartcard. Now how can I integrate it with my webapp? Is this the right package? I'm kind of lost...

[2019-12-12 07:48] rmhrisk commented on #58
No, take a look at FortifyApp.com

[2019-12-13 03:35] MasakiMinamide commented on #58
Oh that looks more of what I would like to use. Thanks!

[2019-12-13 03:35] #58 closed

[2020-05-19 22:57] Swhite215 opened #59 "Unable to Install pkcs11js"
Node Version: 12.16.3
NPM Version: 6.14.4

I am getting this error when running npm install in my project directory. Is this an issue with my node version?

[code]

[2020-05-25 07:55] Arsira-star opened #60 "How can I use CKO_CERTIFICATE"
I see example https://www.npmjs.com/package/pkcs11js but I don't see the example If I want to use both private key and certificate to do digit sign.
Can someone show me example ?

[2020-05-25 08:43] #60 closed

[2020-05-25 09:19] Arsira-star opened #61 "Can I use this lib to get private key and Certificate from HSM ?"
I have Lunaclient that install in my server and it register to connet to HSM.
In HSM has Certificate PrivateKey and PublicKey
How can I get one of that to make sign

[2020-05-25 18:16] rmhrisk commented on #61
Yes this library provides a binding for PKCS11 that you can use with the Luna client.

Using this library means you intend to use PKCS11 directly and therefor the path forward is for you to find a sample in the Luna documentation that describes the call pattern you want in another language and recreate it using pkcs11js.

We’re happy to help with library specific questions.

You may want to look a

[2020-05-25 19:02] rmhrisk commented on #60
The certificate is not used to sign.

You just include it as metadata in the final signature.

[2020-05-25 19:32] microshine commented on #59
@Swhite215 Do you have a log file? It's not clear why you've got that error

I've got a test result. It works fine for me
[code]

### Versions
[code]

[2020-07-11 23:51] UmarNoor opened #62 "key labels and key deletions"
Thanks a  lot for the pkcs11 interface for node.

One thing I would like to understand is that we are giving a key label during the key creation as well and then still we are passing an actual key during encryption and decryption methods.
Isn't there any way where in we can just pass the key label and the cleartext to encrypt and same key label and ciphertext to decrypt.
Furthermore, since this is

[2020-07-12 07:38] microshine commented on #62
@UmarNoor Could you share a script which you are using to reproduce that problem?

[2020-07-12 09:14] UmarNoor commented on #62
Thanks a lot for the response. The script is as below:
It is the same script which has been provided in the examples.

[code]

[2020-07-12 20:16] microshine commented on #62
You generate key with `CKA_TOKEN: false` attribute. It means that your key will be available only for the PKCS#11 session created that key. If you need to share your secret key between multiple session I see two ways.
1. Use persistent key (`CKA_TOKEN: true`)
2. Keep your secret key in memory (like byte array) and import a key for each PKCS#11 session (`C_CreateObject`)

[2020-07-13 23:03] UmarNoor commented on #62
Thanks a lot for the response. I could now see tokens getting permanently stored in the HSM irrespective of the sessions.

Furthermore, I would like to know about thread safety. I came across a scenario where in I got the error as CKR_CRYPTOKI_ALREADY_INITIALIZED. It seems to me that a race condition was triggered.

Do I need to explicitly write the thread safe code by placing mutex locks around t

[2020-08-21 01:38] Wisam-Mohammed opened #64 "Missing small thing( close parenthesis) in "Working with Object""
First, Thank you for your hard work, great job!

Missing small thing( close parenthesis) in "Working with Object"
[code]

[2020-08-27 07:02] ferikeem commented on #57
@spanmatej Can you elaborate on what solved your issue?

[2020-08-27 14:24] #64 closed

[2020-10-31 04:54] chayakornjj opened #65 "Using this lib for digital signature. (Signing PDF)"
Hi,

Currently we are working on digital signature with HSM Module, As we plan using AWS CloudHSM as our HSM.

Now we are using pkcs11js as HSM interface. Everything is good so far as we using SoftHSM as POC (Will move to CloudHSM when we deploy this to Prod)

However we still face the issue that i'm a beginner to use this PKCS#11 Functionality.

It would be great if anyone can recommend me or gui

[2020-10-31 08:45] rmhrisk commented on #65
PKCS11 is just a crypto primitive layer and knows nothing of file format or signature formats.

You can certainly use this library to create the right sort of cryptographic signatures. We do in our product that we built this for that does just that (Hancock.i k).

The signing of PDFs is more complicated than just creating a cryptographic signature and this PDF specific logic does not exist in this

[2020-10-31 08:45] #65 closed

[2020-11-12 13:04] abdalahshaban opened #66 "how can get this path /usr/local/lib/softhsm/libsofthsm2.so in windows"
how can use this package with win10

[2020-11-12 13:09] microshine commented on #66
- Install SoftHSM on Windows (eg [SoftHSM2 for Windows](https://github.com/disig/SoftHSM2-for-Windows))
- Change '/usr/local/lib/softhsm/libsofthsm2.so' path to Windows softhsm library location

[2020-11-12 13:24] abdalahshaban commented on #66
can not found this file libsofthsm2.so in C:\SoftHSM2\lib

[2020-11-12 13:25] microshine commented on #66
please share a list of SoftHSM files

[2020-11-12 13:26] abdalahshaban commented on #66
![Screenshot_1](https://user-images.githubusercontent.com/20366073/98945644-74ce4b00-24fb-11eb-987e-29741bfb6df3.png)

[2020-11-12 13:27] abdalahshaban commented on #66
![Screenshot_2](https://user-images.githubusercontent.com/20366073/98945712-8d3e6580-24fb-11eb-953b-30b692a00850.png)

[2020-11-12 13:29] microshine commented on #66
Use `softhsm2-x64.dll`

[2020-11-12 14:59] abdalahshaban commented on #66
![Screenshot_2](https://user-images.githubusercontent.com/20366073/98956185-66d2f700-2508-11eb-8d5c-775156861b77.png)

[2020-11-15 09:07] #66 closed

[2020-11-15 18:31] rmhrisk commented on #66
Is your issue solved?

[2020-11-16 08:41] abdalahshaban opened #67 "it possible to use this package with angular"
it possible to use this package with angular

[2020-11-16 08:49] rmhrisk commented on #67
It is intended for nodejs use cases, look at FortifyApp.com for browser use cases.

[2020-11-16 12:02] abdalahshaban commented on #67
how can use this kind of auth in mean stack (angular , express js)

[2020-11-16 15:53] abdalahshaban commented on #67
which package can i use in angular to work with hard token  instated FortifyApp.com  if can

[2020-11-16 21:50] donskov commented on #67
Hi @abdalahshaban.

You can use one of:
1. Our web-component - https://fortifyapp.com/docs/installation/web-component.
2. Wrapper from web-component - https://www.npmjs.com/package/@peculiar/fortify-client-core.
3. Core library - https://www.npmjs.com/package/@webcrypto-local/client (examples https://peculiarventures.github.io/fortify-examples/).

Each of them works with the Fortify app.

[2020-11-17 21:06] anonymousdplantgit commented on #59
I am getting this error when running npm install in my project directory, do you have any idea what causes this?
Node: v10.15.3
Npm: 6.4.1

temp\Desktop\eid\eid-reader-angular\node_modules\pkcs11js>if not defined npm_config_node_gyp (node "C:\Program Files\nodejs\node_modules\npm\node_modules\npm-lifecycle\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )  else (node "C:\Program

[2020-11-18 10:34] donskov commented on #59
Hello @anonymousdplantgit . Try to use https://github.com/nodejs/node-gyp/issues/1587#issuecomment-503885419

[2020-11-19 11:38] abdalahshaban opened #68 "load error with electron -v 11"
Error: Win32 error 126
    at Error (native) PKCS11::Load:136
    at IpcMainImpl.<anonymous> (D:\test_app\electron-angular-demo\electron\dist\main.js:105:20)
    at IpcMainImpl.emit (events.js:315:20)
    at Object.<anonymous> (electron/js2c/browser_init.js:157:8867)
    at Object.emit (events.js:315:20) error

[2020-11-19 11:38] #67 closed

[2020-11-19 13:06] #68 closed

[2020-11-19 13:07] abdalahshaban commented on #68
i fixed it

[2020-11-19 13:07] abdalahshaban opened #69 "get public key"
get public key

[2020-11-19 13:15] microshine commented on #69
What does it mean?

[2020-11-25 19:26] microshine commented on #62
@UmarNoor you can continue PKCS#11 library using without `C_Initialize`. If `pkcs11js` throws that error just skip it.

[Here](https://github.com/PeculiarVentures/node-webcrypto-p11/blob/master/src/crypto.ts#L77-L79) is an example of how we do it in our other project

[2020-11-25 19:27] #62 closed

[2020-11-25 19:30] microshine commented on #69
See our other modules. They allow getting a public key from the token in known formats.

- [graphene-pk11](https://github.com/PeculiarVentures/graphene)
- [node-webcrypto-p11](https://github.com/PeculiarVentures/node-webcrypto-p11)
- [Fortify](https://fortifyapp.com/)

[2020-11-25 19:30] #69 closed

[2020-11-25 19:38] microshine commented on #61
I'd like to suggest you use other our modules

- [node-webcrypto-p11](https://github.com/PeculiarVentures/node-webcrypto-p11)
   It implements WebCrypto API and supports KeyStorage and CertStorage. You can use that module for Certificate, PrivateKey, PublicKey, and CSR
- [Fortify](https://fortifyapp.com/)
   It implements the same API and allows to use PKCS#11 libraries in browsers
- [@peculiar/x5

[2020-11-25 19:38] #61 closed

[2020-11-25 19:46] microshine commented on #59
Strange error from the log `Error: unable to verify the first certificate`.

Try to disable certificate validation using [NODE_TLS_REJECT_UNAUTHORIZED](https://nodejs.org/api/cli.html#cli_node_tls_reject_unauthorized_value) environment variable

[code]

[2020-11-25 20:01] #56 closed

[2020-11-25 20:08] microshine commented on #51
I'd like to suggest you use other our modules

- [node-webcrypto-p11](https://github.com/PeculiarVentures/node-webcrypto-p11)
   It implements WebCrypto API and supports KeyStorage and CertStorage. You can use that module for Certificate, PrivateKey, PublicKey, and CSR
- [Fortify](https://fortifyapp.com/)
   It implements the same API and allows to use PKCS#11 libraries in browsers
- [@peculiar/x5

[2020-11-25 20:08] #51 closed

[2020-11-25 20:10] #50 closed

[2020-11-25 20:17] microshine commented on #49
`pkcs11js` supports callback functions for:
- C_Encrypt
- C_Decrypt
- C_Digest
- C_Sign
- C_Verify
- C_GenerateKey
- C_GenerateKeyPair
- C_WrapKey
- C_UnwrapKey
- C_DeriveKey

if you need to use asyn/await you need to wrap those functions. See [Converting callbacks to promises](https://zellwk.com/blog/converting-callbacks-to-promises/) article.

Other functions require module improvement. PR is ap

[2020-11-25 20:17] #49 closed

[2020-11-25 20:30] microshine commented on #45
You can use `CKA_PUBLIC_EXPONENT` and `CKA_MODULUS` to get public key data

![image](https://user-images.githubusercontent.com/7333669/100278356-c81db000-2f75-11eb-827b-5993bc41049f.png)

If you need to get public key in SPKI format you need to use any ASN.1 module for that (eg [asn1.js](https://github.com/PeculiarVentures/asn1.js), [@peculiar/asn1-rsa](https://github.com/PeculiarVentures/asn1-sch

[2020-11-25 20:30] #45 closed

[2020-11-25 20:34] #41 closed

[2020-11-25 20:36] #40 closed

[2020-11-25 20:37] microshine commented on #38
Fixed

[2020-11-25 20:37] #38 closed

[2020-11-25 20:38] #36 closed

[2020-11-25 20:38] #35 closed

[2020-11-25 20:39] #33 closed

[2020-11-25 20:42] microshine commented on #31
Please try the latest version of `pkcs11js`. Do you still have got the same error?
I'm going to close that issue. I'll reopen it if the problem is not fixed

[2020-11-25 20:42] #31 closed

[2020-11-25 20:44] #29 closed

[2020-11-25 20:44] #28 closed

[2020-11-25 20:48] microshine commented on #12
It's better to use PCSC API for that case or existing [pcsclite](https://github.com/santigimeno/node-pcsclite) module

[2020-11-25 20:48] #12 closed

[2020-11-26 12:44] #3 closed

[2021-02-17 05:42] anish-edx opened #74 "Docker image Alpine unable to Install pkcs11js"
Node Image : node:12.20.2-alpine3.12

Alpine Package Installed: alpine-sdk libc-dev libressl-dev make autoconf automake libtool sqlite pkgconfig p11-kit-dev build-base python2 python2-dev openssl cppunit-dev botan-dev

I am getting this error when running npm install in my project directory.

`
`
    Step 7/12 : RUN npm install pkcs11js
    ---> Running in fbe8340e23ca

    pkcs11js@1.2.0 install

[2021-02-24 07:13] microshine commented on #74
I published the new version `v1.2.2`. Please try it. Does it fix your problem?

[2021-03-09 07:13] anish-edx commented on #74
The issue still persists with the alpine image.
![pkcs11js@1 2 2](https://user-images.githubusercontent.com/67774629/110432387-0da15b80-80d5-11eb-94a7-20df976c1931.png)

[2021-03-09 10:10] microshine commented on #74
I can't reproduce your error

Just tried to build Docker images for NodeJs v12 and v14

I don't have any problems and warnings

![image](https://user-images.githubusercontent.com/7333669/110454559-70e0bd00-80d8-11eb-90a2-3beee4a31019.png)

The interesting thing in your screenshot is that it doesn't have errors (just warnings) and `pkcs11js.node` library was compiled and copied to the `Release` dir

[2021-03-09 10:14] anish-edx commented on #74
Use alpine image :

FROM node:12.20.2-alpine3.12

[2021-03-10 20:21] microshine commented on #74
It shows warnings but it works

Scripts prints exprorts from the `pkcs11js` module
![image](https://user-images.githubusercontent.com/7333669/110692181-2013b600-81f7-11eb-8ebc-dbe63e2c1bda.png)

[2021-03-11 04:37] anish-edx commented on #74
@microshine Thanks for the help, It works. Also, I added one Env var and the warning disappear.

`  ENV CXXFLAGS="-Wno-cast-function-type"  `

![pkcs11](https://user-images.githubusercontent.com/67774629/110736361-82010980-8251-11eb-9286-25c8d95cf0d5.png)

[2021-03-11 04:37] #74 closed

[2021-03-31 16:33] akafazov opened #75 "segfault in C_Sign with fabric-sdk-node and SoftHSM2"
I am getting **Segmentation fault (core dumped)** when using pkcs11js v1.1.2 with fabric-network v2.2.2 and SoftHSM2 v2.6.1 on alpine. The SoftHSM seems to work correctly with fabric-ca-client, but with Node I am getting the segfault. I managed to trace it to

**pkcs11.C_Sign** call at bccsp_pkcs11.js._pkcs11Sign(pkcs11, pkcs11Session, key, digest)

I have tried compiling SoftHSM with the openssl

[2021-04-01 01:33] rmhrisk commented on #75
Segfault will be dependent on inputs being passed into softHSM. Can we get a reproduction script?

[2021-04-01 12:13] akafazov commented on #75
Hi @rmhrisk ,

Yes, I managed to reproduce it using the examples from the pkcs11js.

[code]

[2021-04-01 12:22] microshine commented on #75
@akafazov Do you have the Docker image (with required modules fabric-network, SoftHSM) to test that case? It would be useful

[2021-04-01 12:39] akafazov commented on #75
Sure, let me create a Dockerfile with everything setup as in my app.

[2021-04-01 15:42] akafazov commented on #75
@microshine here is the test project https://github.com/akafazov/SoftHSM2FabricNodeSdk

[2021-04-04 15:12] akafazov commented on #75
Issue due to wrong SSL library - libressl instead of openssl.

[2021-04-04 15:12] #75 closed

[2021-04-05 16:52] sheko016 opened #76 "I want to install pkcs11js but I have not managed to run it"
Good afternoon team.
This is to notify that I want to install PKCS11JS in my laravel project, but I have not been able to achieve it, I get the following error.
ERROR in ./node_modules/pkcs11js/build/Release/pkcs11.node 1: 0
Module parse failed: Unexpected character '(1: 0)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See ht

[2021-04-06 17:01] sheko016 commented on #76
Hello team, @rmhrisk @microshine  good afternoon, how are you doing?

I am going to explain my case a little.

I have a project in laravel that works 100%, we are currently making electronic signatures of PDF with .pfx files, which is where the electronic signature of each user is saved.
Even there I am perfect, it works 100%.

what happens now.
Electronic signatures are now coming in TOKEN USB Le

[2021-04-06 17:09] rmhrisk commented on #76
Have you seen fortifyapp.com?

[2021-04-06 17:23] sheko016 commented on #76
no sir
I have not seen it.
but thanks for the recommendation
I'm going to read about https://fortifyapp.com/
Thank you again.
Greetings.

[2021-04-06 23:53] #76 closed

[2021-04-08 09:45] akafazov opened #77 "key pair not persistet as file object"
After some experimenting, I noticed that generated key pair is not persistet as a file in the tokens dir. Searching for objects finds the pair if it is generated within the same session, but not otherwise. I am also listing objects created by other PKCS11 tools. I am using SoftHSM2. Am I doing something wrong, maybe configuration wise?

[code]

[2021-04-08 09:51] microshine commented on #77
@akafazov Have you seen [node-webcrypto-p11](https://github.com/PeculiarVentures/node-webcrypto-p11). That module is based on `pkcs11js` and allows to work with RSA, EC, SHA, and AES mechanisms easier

API allows to add keys to the token using generation params or KeyStorage object

[2021-04-09 08:07] akafazov commented on #77
Hi @microshine,
Isn't the keypair automatically persisted by the SoftHSM2 on file when created.

[code]

[2021-04-09 08:26] akafazov commented on #77
I now see the object functions. Closing this issue.

[2021-04-09 08:40] akafazov commented on #77
Actually objects are created, but not persisted.

[2021-04-09 08:47] microshine commented on #77
`CKA_TOKEN` attribute must manage that case when the key must be stored. I've never tried to find out the key file in SoftHSM. But when I create the key with `CKA_TOKEN` attribute I can use that key later.

[2021-04-09 08:50] microshine commented on #77
Try to use `CKA_SENSITIVE`. I use it in `node-webcrypto-p11`
https://github.com/PeculiarVentures/node-webcrypto-p11/blob/master/src/mechs/ec/crypto.ts#L30

[2021-04-09 11:52] akafazov commented on #77
CKA_TOKEN did the trick.

[2021-04-09 11:52] #77 closed

[2021-05-14 12:17] microshine opened #78 "SafeNET 5100 token crashes the application on MacOS"
If you've got that problem use the next steps.

### The fix

First things first. Make sure you have the latest `libcrypto` installed (using brew, in my case):
[code]
Next, from the installed openssl (in my case, located at `/usr/local/Cellar/openssl/1.0.2t/`) copy the following two libraries to `/usr/local/lib`:
[code]
The next step is to symlink them:
[code]
Lo and behold, problem fixed.

Taken f

[2021-05-18 07:27] avinashuttav opened #79 "unable to install pkcs11.js in windows 10"
when we try to install pkcs11.js in windows system, we are facing below issue currently.
npm install -g pkcs11js

C:\Users\auttav\AppData\Roaming\npm\node_modules\pkcs11js>if not defined npm_config_node_gyp (node "C:\Program Files\nodejs\node_modules\npm\node_modules\npm-lifecycle\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )  else (node "C:\Program Files\nodejs\node_modules

[2021-05-18 16:09] microshine commented on #79
Please try the latest version. I published the new version today `v1.2.4`

[2021-05-19 09:24] avinashuttav commented on #79
yes, it works fine now.
Thank you

[2021-05-19 09:24] #79 closed

[2021-05-20 16:28] mohiniyadav opened #80 "Help wanted, I am trying to sign a CSR using pkcs11 with private key stored in HSM, but the CSR signature is not valid."
Providing code to review:

let keySize = 2048;
      var publicKeyTemplate = [
        { type: pkcs11js.CKA_CLASS, value: pkcs11js.CKO_PUBLIC_KEY },
        { type: pkcs11js.CKA_TOKEN, value: true },
        { type: pkcs11js.CKA_LABEL, value: "My RSA Public Key" },
        { type: pkcs11js.CKA_DERIVE, value: true },
        { type: pkcs11js.CKA_PUBLIC_EXPONENT, value: new Buffer([1, 0, 1]) },

[2021-05-20 16:50] mohiniyadav commented on #80
I already have public and private key stored in hsm, I want to use those keys to sign certificate,
I can see in @peculiar/x509, a new set of keypair is generated.
const keys = await crypto.subtle.generateKey(alg, false, ["sign", "verify"]);

How can I sign a CSR using pre-existing keys in HSM? @microshine

Thanks for replying.

[2021-05-20 16:52] microshine commented on #80
I'll review your code and share my example in 2 hours

[2021-05-20 16:56] mohiniyadav commented on #80
Thanks, it will be very helpful, actually I am stucked with this from many days, so any help will be blessing!

[2021-05-20 20:39] microshine commented on #80
CSR generation using `node-webcrypto-p11` and `@peculiar/x509`
[code]
### Output
[code]

### ASN.1
[code]

[2021-05-20 20:48] microshine commented on #80
If you need to use keys from the token use [KeyStorage API](https://github.com/PeculiarVentures/node-webcrypto-p11#key-storage)

If you need to add a request or certificate to the token use [CertificateStorage API](https://github.com/PeculiarVentures/node-webcrypto-p11#certificate-storage)

[2021-06-03 07:57] #80 closed

[2021-06-03 17:24] ayZagen opened #81 "Ability to define custom pkcs wrapper"
It would be great to have the ability for defining custom pkcs wrapper.
For example: have a look at [java lib](http://javadoc.iaik.tugraz.at/pkcs11_wrapper/current/iaik/pkcs/pkcs11/wrapper/PKCS11Connector.html#connectToPKCS11Module-java.lang.String-java.lang.String-)

than we could use it like this:
[code]

[2021-06-03 20:14] rmhrisk commented on #81
Normally these wrappers have their own configuration and act as a passthrough, is your expectation that the additional param would be used to configure these wrapper libraries?

[2021-06-03 20:21] ayZagen commented on #81
I would like to connect to a PKCS#11 module (libsofthsm2 in the example) with the specified PKCS#11-wrapper native library (pkcs11wrapper.dll) and get an interface to it.

[2021-06-03 20:46] rmhrisk commented on #81
Why not specify PKCS11weapper.dll and configure it to call libsofthsm2?

[2021-06-03 21:07] ayZagen commented on #81
well, you are definitely right but that would require too much work, for every pkcs module I should create a new dll.

In the example you provided, we can create a jar which can be used with the library I referenced at main post. But that's the whole point for me as I am trying to run away from java :)

This a really specific requirement, I am trying to migrate our e-sign reader from java app (a s

[2021-06-03 23:19] microshine commented on #81
Could you share information about PKCS11 API you are needed? It'll help me to understand it's hard or not to implement it on C++

[2021-06-05 04:31] rmhrisk commented on #81
He isn’t looking for a PKCS11 library interface, he either wants us to provide a wrapper library for logging details or to configure another wrapper library.

[2021-06-05 04:31] rmhrisk commented on #81
Have you seen FortifyApp?

[2021-06-05 08:55] ayZagen commented on #81
@rmhrisk is right.

I really feel very dumb, I didn't notice fortify. It looks promising and slick let me try it it out

[2021-06-05 17:18] rmhrisk commented on #81
Also check out Hancock.ink

[2021-06-07 07:22] willin opened #82 "Module did not self-register"
[code]

in worker threads

[2021-06-07 20:41] microshine commented on #82
I've reproduced that exception. Looking for solution how to fi it

[2021-06-08 08:53] microshine commented on #82
It throws `Module did not self-register` for the next script

[code]

I did some experiments with HellloWorld examples (C++ addons and C++ N-API addons). These addons don't allow loading multiple times too

[2021-06-08 18:31] ayZagen opened #83 "No error thrown when methods are called without loading library"
Process exits directly when pkcs methods are called without loading library. Even though it is wrong usage process should not exit an exception could be thrown.

Reproducing code:
[code]

[2021-06-08 18:43] microshine commented on #83
I'll fix it

[2021-06-08 23:53] #83 closed

[2021-06-08 23:55] microshine commented on #83
The new version is available `pkcs11js@1.2.5`

[2021-06-19 16:42] pinheadmz opened #86 "Meaning of variable name `token` in tests?"
In `test/test.js` you have:

[code]

I am just learning about the protocol and this confused me because according to https://www.cryptsoft.com/pkcs11doc/v230/ :

[code]

...so my understanding is that "slots contain tokens" but the code in the test seems to imply that "tokens contain slots" ?

[2021-06-21 16:40] rmhrisk commented on #86
Tokens contain slots

[2021-06-21 16:48] #86 closed

[2021-06-21 17:08] pinheadmz commented on #86
I appreciate the answer but am still confused:

https://www.cryptsoft.com/pkcs11doc/v230/

[2021-06-21 17:15] rmhrisk commented on #86
cryptographic device = PKCS11 token in a HSM like device

smart card = PKCS11 token

USB toke  = PKCS11 token

Each of the above have "slots".

Each slot, contains a logical or physical cryptographic implementation.

Generally you can think of a slot as a security domain (slot1 is accessible by app1)

[2021-07-30 07:32] zercek23 opened #87 "Pkcs11Error: CKR_OBJECT_HANDLE_INVALID"
Hi, recently I installed softhsm2 from source to my ubuntu 20.04 lts server. And I created a nodejs server. To communicate with softhsm, I installed your package to my nodejs app. I looked up for usage of your package. And i went through some of your example steps. I accomplished to create session, generate pair key with RSA mechanism, sign a data with my private key and verify this signature with

[2021-08-22 00:42] pinheadmz opened #88 "Test possibly mislabeled?"
In the test linked below, the context is labeled `P-256` which if I understand correctly means the curve secp256r1. However the ECDSA PARAMS value is the oid for secp256k1: `06052B8104000A` or

`OBJECT IDENTIFIER 1.3.132.0.10 secp256k1 (SECG (Certicom) named elliptic curve)`

The oid for P-256 should be `06082A8648CE3D030107` aka 1.2.840.10045.3.1.7

References:
http://oid-info.com/get/1.2.840.100

[2021-08-24 13:31] #88 closed

[2021-09-13 09:17] microshine commented on #87
@zercek23 Have you seen [graphene-pk11](https://www.npmjs.com/package/graphene-pk11) and [node-webcrypto-p11](https://www.npmjs.com/package/node-webcrypto-p11) modules?

`node-webcrypto-p11` allows using RSA and ECDSA mechanisms easier.

If you've got the public key in SoftHSM storage just use `crypto.keyStorage.getItem` method.

If you've got the blob of the public key use `crypto.subtle.importKe

[2022-01-19 06:10] Jinwei1987 opened #89 "Can't support mac m1 arm64 cpu"
when loading softhsm lib on arm64 mac, there is an error: dlopen(/opt/homebrew/Cellar/softhsm/2.6.1/lib/softhsm/libsofthsm2.so, 0x0006): tried: '/opt/homebrew/Cellar/softhsm/2.6.1/lib/softhsm/libsofthsm2.so' (mach-o file, but is an incompatible architecture (have 'arm64', need 'x86_64')), '/usr/local/lib/libsofthsm2.so' (no such file), '/usr/lib/libsofthsm2.so' (no such file)

[2022-01-19 11:59] microshine commented on #89
@Jinwei1987 Does SoftHSM works fine on your computer? What is your NodeJS architecture?

As I can see the problem is in architecture difference for `pkcs11js` lib and softhsm lib. Maybe you need to install SoftHSM with the same architecture that NodeJS use or reinstall NodeJS and rebuild native modules

[2022-01-19 23:10] Jinwei1987 commented on #89
@microshine I install SoftHSM via brew, and from the error SoftHSM looks correct, which is arm64 architecture. In terms of node, I use 14.18.3, from the official website I don't see it distinguish x86 from arm64 for package installation.

[2022-01-19 23:53] Jinwei1987 commented on #89
@microshine I have got the problem solved with node 16.13.2. Looks like it is some compatible issue with old version of nodejs.

[2022-01-19 23:53] #89 closed

[2022-04-12 10:38] TimCoates opened #92 "Unable to wrap with RSA key"
Using SoftHSM I can wrap an AES key using an RSA key using https://github.com/Mastercard/pkcs11-tools e.g:
p11wrap -a pkcs1 -i "5555_AES" -w WrappingOnly

Using pkcs11js (despite iterating over all available Mechanisms) I've been unable to wrap this same key.

[2022-04-12 13:45] microshine commented on #92
There is [graphene-pk11](https://www.npmjs.com/package/graphene-pk11)  module. It wraps `pkcs11js` and allows using PKCS#11 interface easier.

[code]

[2022-04-12 21:44] TimCoates commented on #92
Thanks, that's sorted it - fantastic speedy response!

[2022-04-27 08:21] TimCoates commented on #92
Unfortunately 'solrted' was short lived. I don't seem able to create anything other than a `CKR_SESSION_READ_ONLY` session using Graphene. I got further by creating keys in pkcs11-js and wrapping in Graphene, but unwrapping (with `token:true`) loops me back to the same problem.

[2022-08-11 19:37] FelipeRegino opened #94 "Problem with NODE_MODULE_VERSION"
could you help with this following error:

[code]

[2022-08-11 19:54] microshine commented on #94
Do you use module like a dependency?

Do you use with electron?

[2022-08-12 16:07] FelipeRegino commented on #94
yes

[2022-08-12 17:43] microshine commented on #94
You should use configuration file like this https://github.com/PeculiarVentures/fortify/blob/main/.yarnrc

[2022-08-17 12:15] FelipeRegino commented on #94
what should I put in this file?

[2022-08-25 05:15] #94 closed

[2022-09-05 09:27] MhmodTayel commented on #80
I tried this example but i get this error.
`[Pkcs11Error: CKR_FUNCTION_NOT_SUPPORTED] {
  method: 'C_CopyObject',
  nativeStack: '    at Error (native) C_CopyObject:584',
  code: 84
}
`
![Screenshot from 2022-09-05 11-25-44](https://user-images.githubusercontent.com/38634328/188416593-e094f2cd-3a55-4e0c-88f1-48a44ee04bf9.png)

Could you please help me with it

[2022-09-05 09:33] microshine commented on #80
Looks like your PKCS11 provider doesn't support C_CopyObject function. You should create your objects directly on the token. `node-webcrypto-p11` allows doing it via the `algorithm` argument.

Try this
[code]

[2022-09-05 10:00] MhmodTayel commented on #80
It works just fine. Thank you so much

[2022-09-06 17:43] MhmodTayel commented on #80
When i remove the token and plug it in again I found that the key pairs were removed from the token @microshine

[2022-09-08 08:14] MhmodTayel commented on #80
Do i have to use crypto.subtle.importKey to save key pairs in token ? @microshine

[2022-09-08 08:29] microshine commented on #80
If you pass the `token: true` property into the algorithm (`generateKey` or `improtKey`) it should save the key into the token

Are you importing or generating the key?

@MhmodTayel What PKCS#11 library do you use?

[2022-09-08 08:43] MhmodTayel commented on #80
I'm using epass2003auto token with it's libcastle module also I'm using the example you provide above. but when I generate key pairs and list all objects in the token I saw them but when I unplug the token and plug it again I didn't see them and after few tries i got anther error `CryptoError: Rsa: Can not generate new key
CKR_DEVICE_MEMORY:49
`
in spite of there is no key pairs in the token
![Scr

[2022-09-08 09:08] microshine commented on #80
Here are some examples

Remove all objects from the token
[code]

List all keys and certs
[code]

I'm confused that it throws the CKR_DEVICE_MEMORY error, but you don't see these objects on the token.
Please try to generate the keys using the `token: true` property and list all keys by the script I've shared.

Could you try to create the self-signed certificate or request via https://tools.fortify

[2022-09-08 09:21] MhmodTayel commented on #80
I removed all objects from the token and I was able to generate key pairs but The issue of keeping key pairs in the token after unplug it and plug it again still exist

![Screenshot from 2022-09-08 11-18-59](https://user-images.githubusercontent.com/38634328/189085674-fd464815-e1db-430b-952c-5254568eba1d.png)

[2022-09-08 09:25] microshine commented on #80
Does node-webcrypto-p11 show an empty list too after token replugin?

[2022-09-08 09:26] MhmodTayel commented on #80
yes

[2022-09-08 09:28] MhmodTayel commented on #80
![Screenshot from 2022-09-08 11-27-47](https://user-images.githubusercontent.com/38634328/189087073-3e087d85-5359-4dda-8667-89901f406453.png)

[2022-09-08 09:33] microshine commented on #80
it's really strange

Try to get access to PKCS#11 object. Each key keeps it in `p11Object` field.

[code]

If it returns `true` and disappears after token removing, I guess the problem is on PKCS#11 library

[2022-09-08 09:44] microshine commented on #80
Could we have a chat via Skype or Hangouts?

Skype: microshine82
Hangouts: microshine82@gmail.com

[2022-09-08 10:06] microshine commented on #80
@MhmodTayel Please try one more script.

`graphene-p11` is a wrapper over the PKCS#11 interface. This script allows printing all PKCS#11 objects from the token

[code]

[2022-09-08 10:14] MhmodTayel commented on #80
Still the same
![Screenshot from 2022-09-08 12-13-56](https://user-images.githubusercontent.com/38634328/189097143-0b348439-a058-4001-8564-95abe8cd79ed.png)

[2022-09-08 10:15] MhmodTayel commented on #80
It works fine with softhsm
![Screenshot from 2022-09-08 12-15-09](https://user-images.githubusercontent.com/38634328/189097374-ee0ebf36-0147-4099-b2a5-94f705eff093.png)

[2022-09-08 10:26] microshine commented on #80
Do you use the latest version of `libcastle`?

[2022-09-08 10:33] MhmodTayel commented on #80
yes

[2022-10-27 12:33] wkledxow opened #95 "Build problem with ElectronJS 21"
Hello,

First thanks for this very useful lib.

I face an issue when using your lib with the new electronjs version (21.0.1). In order to be able to use C++ node modules in electronjs, they have to rebuild using electron-rebuild. When I tried to rebuild your lib (in version 1.3.0) with the new version of electron I faced the following error:

`C:\Users\blabla\.electron-gyp\21.0.1\include\node\v8-i

[2022-11-08 07:13] #95 closed

[2022-11-30 09:07] sonkkeli opened #97 "Add support for pkcs#11 3.0"
It would be great if this library would support the newest 3.0 standard to support e.g. ed25519 keys.